
:root {
  /* Default global value */
  --bk-color-primary: #F05F40;
  --bk-size-large: 100px;
  --bk-size-medium: 50px;
  --bk-size-small: 25px;
  --bk-size-xsmall: 10px;
  --bk-size-xxsmall: 5px;
}

hr.header-underline {
  background: var(--bk-color-primary) !important;
  border-color: var(--bk-color-primary) !important;
  border-width: 20px !important;
  max-width: 100px !important;
  height: 3px !important;
  margin: 0 auto 10px auto !important;
}

.footer .list-item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.page-banner {
  background-color: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home-banner {
  background-image: url(/assets/img/background-unsplash.jpg);
}

#blogs-banner {
  background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#post-banner {
  background-image: url("https://images.unsplash.com/photo-1512314889357-e157c22f938d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}



.profile-cover {
  position: relative;
  width: 100%;
  background-color: var(--bk-color-primary);
  border-radius: 50%;
  margin: -60% auto 0 auto;
}

.profile-social {
  position: absolute;
  width: auto;
  top: auto;
  left: auto;
  right: 3rem;
  bottom: 10px;
}

.service-box i {
  font-size: var(--bk-size-large);
  color: var(--bk-color-primary);
}

.service-box .title {
  color: var(--bulma-text-color);
}

.project-box {
  width: 100%;
  /* background-color: aqua; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.project-box .button {
  display: none;
}

.project-box:hover {
  background-color: #f0f0f0;
}

.project-box:hover .button {
  display: block;
}

.has-text-upright,
.is-text-upright {
  writing-mode: vertical-rl;
  text-orientation: upright;
}


.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  animation: moveBubble 5s linear infinite;
}

@keyframes moveBubble {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

.images-clients {
  height:150px;
  position:relative;
  overflow:hidden;
}

.images-clients:hover {
  overflow: auto;
}

.images-clients:hover .images-banner {
  animation-play-state: paused;
}

.images-banner {
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
  white-space: nowrap;
  animation: imagemove 10s linear infinite;
}

.images-banner img {
  height: 100px;
  width: auto;
  margin: 0 0.5em;
}



@keyframes imagemove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

/* Timeline */
ul.timeline_posts {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

/* Timeline - center line */
ul.timeline_posts:before {
	content: '';
	position: absolute;
  width: 10px;
	top: 0;
  right: auto;
	bottom: 0;
	left: 20%;
  margin-left: -10px;
	background: #afdcf8;
}

/* Timeline - the posts */
ul.timeline_posts > li {
	position: relative;
}

/* The date/time */
ul.timeline_posts > li .timeline_date {
	display: block;
  position: absolute;
  left: 0;
}

/* The date/time */
ul.timeline_posts > li .timeline_icon {
	display: block;
  position: absolute;
  left: 20%;
	margin-left: -1.2em;
  color: #afdcf8;
}

/* .timeline_posts > li .timeline_time span {
	display: block;
	text-align: right;
} */

/* .timeline_posts > li .timeline_time span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.timeline_posts > li .timeline_time span:last-child {
	font-size: 1.5em;
	color: #3594cb;
}

.timeline_posts > li:nth-child(odd) .timeline_time span:last-child {
	color: #6cbfee;
} */

/* Right content */
.timeline_posts > li .timeline_content {
  position: relative;
	margin: 0 0 15px 25%;
  padding: 1em;
  color: #fff;
	background: #3594cb;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	border-radius: 5px;
}

.timeline_posts > li:nth-child(odd) .timeline_content {
	background: #6cbfee;
}

.timeline_posts > li .timeline_content h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* Timeline - the triangle */
.timeline_posts > li .timeline_content:after {
  content: " ";
  position: absolute;
  height: 0;
	width: 0;
  top: 10px;
	right: 100%;
	border: solid transparent;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
}

.timeline_posts > li:nth-child(odd) .timeline_content:after {
	border-right-color: #6cbfee;
}

/* The icons */
.timeline_posts > li .timeline_time {

}

/*
.timeline_posts > li .timeline_time {
	width: 20px;
	height: 20px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
} */
